@model website.Models.Orderdetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orderdetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Orderdetailid" class="control-label"></label>
                <input asp-for="Orderdetailid" class="form-control" />
                <span asp-validation-for="Orderdetailid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orderid" class="control-label"></label>
                <input asp-for="Orderid" class="form-control" />
                <span asp-validation-for="Orderid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicineid" class="control-label"></label>
                <input asp-for="Medicineid" class="form-control" />
                <span asp-validation-for="Medicineid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priceperunit" class="control-label"></label>
                <input asp-for="Priceperunit" class="form-control" />
                <span asp-validation-for="Priceperunit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
